<div class="ui top attached tabular menu">
  <a href="/" class="item <%= (!$this.query.tab || ($this.query.tab == $app.tabs[0])) ? 'active' : '' %>"><%= $app.tabs[0] %></a>
  <% $app.tabs.slice(1).forEach(function (tab) { %>
    <a href="/?tab=<%= tab %>" class="item <%= ($this.query.tab == tab) ? 'active' : '' %>"><%= tab %></a>
  <% }) %>
</div>